@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Neucha&display=swap');

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

/*----Navbar Section - Start----*/
.navbar{
      width:100%;
      z-index:1000000;
      max-width:100%;
      background-color: rgba(225, 254, 251, 1);
      border-bottom: solid;
      border-width: 0.5px;
      border-color: black;
    
      position: fixed;
      top: 0;
      transition: top 0.3s;
}

.navbar .navbar-brand {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: bold;
}


.navbar-custom {
    font-family: "Amatic SC", sans-serif;
}

.nav-item {
    font-size: 18px;
    font-weight: bold;
}
/*----Navbar Section - End----*/

/*----Carousel Section - Start----*/
#carouselMain {
padding: 0%;
}

.home-text {
    font-family: "Neucha", sans-serif;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0.05em;
    top: 200px;
    color: rgba(225, 254, 251, 1);
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
}

.home-col {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);

    border: solid;

    border-radius: 25px;

    border-width: 1px;

    border-color: rgba(225, 254, 251, 1);
}
/*----Carousel Section - End----*/

/*----Buttons - Start---------------*/
/*----Home Button----*/
.btn-custom {
    background-color: black;
    border-color: rgba(255, 255, 255, 1);
    border-width: 0.5px;
    color: white;
}

.btn-custom:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: black;
    border-width: 0.5px;
}

/*----Map Buttons----*/
.btn-custom-fd {
    background-color: rgba(240, 117, 24, 1);
    border-color: black;
    border-width: 0.5px;
}

.btn-custom-fd:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(240, 117, 24, 1);
    border-width: 0.5px;
}

.btn-custom-attr {
    background-color: rgba(171, 72, 196, 1);
    border-color: black;
    border-width: 0.5px;
}

.btn-custom-attr:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(171, 72, 196, 1);
    border-width: 0.5px;
}

.btn-custom-hos {
    background-color: rgba(21, 209, 177, 1);
    border-color: black;
    border-width: 0.5px;
}

.btn-custom-hos:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(21, 209, 177, 1);
    border-width: 0.5px;
}

.btn-padding {
    margin-bottom: 20px;
}

/*----Buttons - End---------------*/

.hr-custom {
    background-color:rgba(255, 255, 255, 1);
    margin: 0;
}

/*----Map Section - Start---------------*/
#map-section {
    font-family: "Neucha", sans-serif;
    background-color: rgba(225, 254, 251, 1);
    display: flex;
    justify-content: center;
}

.padding-map {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

#map {
    width: 100%;
    height: 88vh;
    align-content: left;
}

.main-content {
    background-color: rgba(225, 254, 251, 1);
    font-family: "Neucha", sans-serif;
    letter-spacing: 0.05em;
    padding: 20px;
}

.eatdrink-content {
    background-color: rgba(240, 117, 24, 1);
    font-family: "Neucha", sans-serif;
    letter-spacing: 0.05em;
    padding: 20px;
}

.attr-content {
    background-color: rgba(171, 72, 196, 1);
    font-family: "Neucha", sans-serif;
    letter-spacing: 0.05em;
    padding: 20px;
}

/*----Map Section - End---------------*/

/*----Top Picks Section - Start---------------*/

.padding-tp {
    padding-top: 20px;
    padding-left: 20px;
}

.scroll-container {
  height: 88vh;
  overflow-y: scroll;

  border-color: rgba(225, 254, 251, 1);

color: rgba(225, 254, 251, 1);
}

.tp-col {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);

    border: solid;

    border-radius: 25px;

    border-width: 0.5px;
}

.tp-hidden {
    display: none;
}

.button-position {
display: flex;
justify-content: center;
}

.btn-scroll {
margin-top: 40px;
}

section {
  height: auto;
  background-color: rgba(225, 254, 251, 1);
}

/*----Top Picks Section - End---------------*/

/*----Top Tip Section - Start---------------*/

#tp-Content-2 {
    display:none;
}

#top-tip-img {
    height: 500px;
    width: 500px;

    background: url("../images/top-tip-img.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;

    border-radius: 25%;
    border: solid;
    border-color: black;
    border-width: 1px;
    
    display:none;
}

/*----Top Tip Section - End---------------*/

/*----Contact Section - Start---------------*/
.form-bg {
    background: url("../images/form-bg.jpg") no-repeat center center fixed;
    display: flex;
    justify-content: center;
}
.contact-section {
    font-family: "Neucha", sans-serif;
    letter-spacing: 0.05em;

    color: antiquewhite;
    padding: 20px;
}

/*----Contact Section - End---------------*/

/*----Footer Section - Start---------------*/
.footer {
    font-family: "Amatic SC", sans-serif;
    background-color:rgba(21, 209, 177, 1);

}
.footer a {
    font-size: 36px;
    color: black;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 12px 0;
    font-size: 24px;
    line-height: 12px;
    color: black;
}

/*----Footer Section - End---------------*/

@media (min-width: 1050px) {
    .carousel-item img {
        width: 100%;
    }
}

@media (max-width: 464px) {
    #top-tip-img {
    height: 300px;
    width: 300px;
}
}

@media (max-width: 767px) {
.padding-tp {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.scroll-container {
  height: 70vh;
}
}

@media (max-width: 619px) {
.scroll-container {
  height: 75vh;
}
}