@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Neucha&display=swap');

.navbar{
      position:absolute;
      width:100%;
      z-index:10;
      max-width:100%;
}

.navbar .navbar-brand {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: bold;
}


.navbar-custom {
    font-family: "Amatic SC", sans-serif;
}

.nav-item {
    font-size: 18px;
    font-weight: bold;
}

#carouselMain {
padding: 0%;
}

.home-text {
    font-family: "Neucha", sans-serif;
    font-size: 14px;
    position: absolute;
    letter-spacing: 0.05em;
    top: 200px;
    color: rgba(21, 209, 177, 1);
    z-index: 1000;
}

.home-col {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);

    border-top: solid;
    border-right: solid;
    border-bottom: solid;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    border-width: 1px;

    border-color: rgba(21, 209, 177, 1);
}

.btn-custom {
    background-color: rgba(21, 209, 177, 1);
    border-color: rgba(255, 255, 255, 1);
    border-width: 0.5px;
}

.btn-custom:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(21, 209, 177, 1);
    border-width: 0.5px;
}

#map-bg {
    height: 90vh;

    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.map-section {
    padding-top: 20px;
}

#map {
    width: 100%;
    height: 500px;
    background-color: blue;
}

@media (min-width: 1050px) {
    .carousel-item img {
        width: 100%;
    }
}

@media (min-width: 464px) {
    .col-btn {
    padding: 20px;
}
}